<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Calculator"/>

    <title>Calculator</title>

   <script src="https://unpkg.com/vue"></script>
    <style>
        input {
            width: 50px;
        }
        td {
            border-width: 2px;
            border-radius: 10px;
            border-style: solid;
        }
    </style>
</head>

<body>
	<div id="app" style='width: 100%;height: 100%;'>
		year : <input v-model="year">&#160, month : <input v-model="month">&#160, day : <input v-model="day">
        <h1>{{this.year}} / {{this.month}} / {{this.day}}</h1>
        <table width="300px" height="300px">
            <th v-for="week in weeks" text-align="center" width="14%" height=30px>
                {{ week }}
            </th>
			<tr v-for="j in 6" v-if="check(j)">
				<td is="my-com" v-for="i in 7" v-bind:date="make(j,i)" v-bind:style="" text-align="center">
                </td>
			</tr>
		</table> 
    </div>
    <script>
        Vue.component('my-com', {
            template: '<td>{{date}}<br><img v-if="ch" :src="selec" width="50px" height="50px"><br>{{temperature}}</td>',
            props:['date'],
            data: function(){
                return {
                    weather: ["sunny.png", "cloudy.png", "rainy.png"]
                }
            },
            computed: {
                selec: function() {
                    if(this.date == "")
                        return "";
                    else
                        return this.weather[Math.floor(Math.random()*3)];
                },
                temperature: function() {
                    if(this.date == "")
                        return "";
                    else
                        return 20 + "ºC";
                },
                ch: function() {
                    if(this.date == "")
                        return false;
                    else
                        return true;
                }
            }
        })
        new Vue({
            el:'#app',
            data: {
                year: 0,
                month: 0,
                day: 0,
                weeks: ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],
            },
            methods:{
                make: function(j, i) {
                    var base1 = new Date(parseInt(this.year), parseInt(this.month), 0);
                    var base2 = new Date(parseInt(this.year), parseInt(this.month)-1, 1);
                    var gLen = base1.getDate();
                    var gDay = base2.getDay();
                    var today = parseInt(this.day);
                                        
                    if( gDay <= (j-1)*7 + (i-1) && (j-1)*7 + (i-1) < gDay + gLen)
                        return (j-1)*7 + i - gDay;
                    else
                        return "";
                },
                check: function(j) {
                    var base1 = new Date(parseInt(this.year), parseInt(this.month), 0);
                    var base2 = new Date(parseInt(this.year), parseInt(this.month)-1, 1);
                    var gLen = base1.getDate();
                    var gDay = base2.getDay();

                    console.log((gLen + gDay))

                    return (gLen + gDay + 6)/7>= j;
                }
            }
        })
    </script>
</body>

</html>
